<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="app-footer p-4">

    <div class="row">
        <div class="col-md-5">
            <h3 class="card-title">About Mahima Events</h3>
            <p><span style="font-style: italic;font-family: cursive;  font-size: clamp(1rem, 0.75vw, 10rem) ;">"We create u celebrate"</span></p>
            <p>"(ORGANISED BY STUDENTS)</p>
            <p>One stop solution for all your memorable EVENTS</p>
            <div class="social-icons">
                <p>Follow us on</p>
                <a href="https://www.facebook.com/your-profile" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/your-profile" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram"></i>
                </a>

                <!-- LinkedIn Icon -->
                <a href="https://www.linkedin.com/in/your-profile" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin"></i>
                </a>

                <!-- Twitter Icon -->
                <a href="https://twitter.com/your-profile" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>
        </div>
        

        <div class="col-md-3 mt-2">
            <!-- <div *ngFor="let event of eventCategories">
                <div (click)="onSelectEvent(event)">
                    <p><a>{{ event.categoryName }}</a><br></p>
                </div>
            </div> -->
            <h3>Quick Links</h3>
            <p><a href="/services">Wedding</a></p>
            <p><a href="/services">Birthday</a></p>
            <p><a href="/services">Baby Shower</a></p>
            <p><a href="/services">College Events</a></p>
        </div>

        <div class="col-md-4 mt-2">
            <h3>Contact</h3>
            <p>Gollurangarao street 56, 16-18/2</p>
            <p>Maruti Colony, Patamata, Vijayawada,</p>
            <p>Andhra Pradesh 520010</p>
            <p><i class="bi bi-telephone-inbound-fill"></i> 8374313249</p>
        </div>
    </div>
    <!-- 
    <div class="row">
        <div class="col-md-12">

            <div class="social-icons">
                <p>Follow us on</p>
                <a href="https://www.facebook.com/your-profile" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/your-profile" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="https://www.linkedin.com/in/your-profile" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a href="https://twitter.com/your-profile" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>
        </div> -->
</div>