<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card cardthree shadow-lg rounded" style="background-color: rgb(255, 255, 255); ">
                <div class="card-body">
                    <h5 class="card-title">Welcome to Mahima Events..!</h5>
                    <p>Looking for something unique? We can help you plan:
                    Submit your ideas, and we'll make them come to Life!</p>
                </div>
            </div>
        </div>
    </div>
</div>