<div class="container-fluid mt-2 pt-3">
    <div class="row justify-content-center">
        <h1 style="color: rgb(2, 2, 2);font-weight: bold; font-family: 'Times New Roman', Times, serif; text-decoration: none; text-align: center;">{{selectedEvent.categoryName}}</h1>
        <div style="z-index: 1;">
            <div class="grid">
                <div *ngFor="let event of selectedEvent.products"> <!-- Use col-6 for Bootstrap -->
                    <div class="card event-cards">
                        <div class="testimonycard-image">
                            <img [src]="event.filepath" alt="{{event.filepath}}">
                        </div>
                    </div>
                    <div class="testimonycard-content">
                        <p>
                            {{ event.name }} <br>
                        </p>
                        <p><i class="bi bi-plus-square"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>