<!-- <div id="testimonials-section" #testimonialsSection
    style=" background-color:  #091072;padding: 20px; padding-bottom: 50px; width: 100vw;">
    <div style="display: flex; justify-content: space-between; padding: 10px;">
        <button (click)="scrollLeft()"
            style="font-size: 24px; cursor: pointer; border: none; background: none; color: aliceblue;"><i
                class="bi bi-arrow-left-circle"></i></button>
        <h1 style="color: aliceblue;font-weight: bold; font-family: 'Times New Roman', Times, serif;">Testimonials
        </h1>
        <button class="rightarrow" (click)="scrollRight()"
            style="font-size: 24px; cursor: pointer; border: none; background: none; color: aliceblue; "><i
                class="bi bi-arrow-right-circle"></i></button>

    </div>
    <div #scrollContainer style="display: flex; overflow-x: scroll; scrollbar-width: none; -ms-overflow-style: none;">
        <div class="testcards">

            <div class="card card-two">
                <div class="testimonycard-image">
                    <img src="assets/images/event7.jpeg" alt="School Image">
                </div>
                <div class="testimonycard-content">
                    <p>
                        We are very happy for the great efforts of Mahima Events for our Birthday Event. We are very
                        delighted
                        that the event has gone successful.<br>
                        <strong>- Ramesh & Suman</strong>
                    </p>
                </div>
            </div>

            <div class="card card-two">
                <div class="testimonycard-image">
                    <img src="assets/images/event6.jpeg" alt="School Image">
                </div>
                <div class="testimonycard-content">
                    <p>
                        We are very happy for the great efforts of Mahima Events for our Birthday Event. We are very
                        delighted
                        that the event has gone successful.<br>
                        <strong>- Ramesh & Suman</strong>
                    </p>
                </div>
            </div>


            <div class="card card-two">
                <div class="testimonycard-image">
                    <img src="assets/images/event5.jpeg" alt="School Image">
                </div>
                <div class="testimonycard-content">
                    <p>
                        We are very happy for the great efforts of Mahima Events for our Birthday Event. We are very
                        delighted
                        that the event has gone successful.<br>
                        <strong>- Ramesh & Suman</strong>
                    </p>
                </div>
            </div>


            <div class="card card-two">
                <div class="testimonycard-image">
                    <img src="assets/images/event4.jpeg" alt="School Image">
                </div>
                <div class="testimonycard-content">
                    <p>
                        We are very happy for the great efforts of Mahima Events for our Birthday Event. We are very
                        delighted
                        that the event has gone successful.<br>
                        <strong>- Ramesh & Suman</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div> -->
<div class="map-container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15302.366524025138!2d80.66642!3d16.496203!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35e56fad61862b%3A0x39d02786fc50aff6!2sMahima%20balloon%20decorations%20vijayawada%20(mahima%20events)!5e0!3m2!1sen!2sin!4v1727887075737!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>